@import "./base.scss";

.bold {
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}

.maxw {
  width: 1200px;
  min-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.aic {
  align-items: center;
}

.ais {
  align-items: flex-start;
}

.aie {
  align-items: flex-end;
}

.x {
  display: flex;
  justify-content: flex-start;
}

.x1 {
  display: flex;
  justify-content: center;
}

.x2 {
  display: flex;
  justify-content: flex-end;
}

.x3 {
  display: flex;
  justify-content: space-between;
}

.x4 {
  display: flex;
  justify-content: space-around;
}

.y {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.y1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.y2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.y3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.y4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex1 {
  flex: 1;
}

.hidden {
  overflow: hidden;
}

.auto {
  overflow: auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.none {
  display: none;
}
