@import "./base.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: $fc1;
}

body {
  font-size: $fs1;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.5em;
}

// 去掉输入框type为number时的上下箭头
/*谷歌*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
/*火狐*/
input[type="number"] {
-moz-appearance: textfield;
}